<template>
  <q-card class="q-ma-md q-px-xl q-py-md column flex flex-center" style="max-width: 500px">
    <q-card-section>
      <div class="text-h6">Add to Queue</div>
    </q-card-section>
    <q-separator dark />
    <q-card-section>
      <q-form
        @submit="handleSubmit"
        class="q-gutter-md flex flex-center column"
      >
        <div class="row">
          <q-btn-toggle
            v-model="type"
            toggle-color="primary"
            class="q-ma-sm"
            :options="[
          {label: 'Approval', value: true},
          {label: 'Help', value: false}
          ]"
            size="md"
            :rules="[val => isTypeValid(val)  || 'Choose Approval or Help']"

          />
          <q-select
            outlined
            v-model="selectedAssignment"
            :options="assignmentOptions"
            label="Select assignment *"
            style="min-width: 170px"
            class="q-ma-sm"
            :rules="[val => isSelectedAssignmentValid(val) || 'Choose assignment number']"

          />
        </div>

        <q-input
          filled
          v-model="location"
          label="Location"
          :rules="[val => isLocationValid(val) || 'Enter your location']"
        />
        <q-btn
          label="Add to queue"
          type="submit"
          :disabled="!isFormValid"
        />
      </q-form>
    </q-card-section>
  </q-card>

</template>

<script>
import { Notify } from 'quasar';
/**
 * This card component display options when a user wants to enqueue.
 * such as approval or help, location and which assigment.
 *
 * It being used in CoursePage.
 */
export default {
  name: "AddToQueueCard",

  data() {
    return {
      type: '',
      selectedAssignment: 0,
      assignmentOptions: [],
      location: ''
    }
  },

  methods: {
    async handleSubmit() {
      let courseId = Number(this.$route.params.id);
      const toQueueRequest = {
        userId: this.$store.getters.getUserId,
        courseId: courseId,
        enqueueType: this.type,
        assignmentNum: this.selectedAssignment,
        location: this.location,
        isGettingAssistance: false
      };
      this.$store.getters.getApiClient
        .post("/courses/" + courseId + "/queue/users", toQueueRequest)
        .then(res => {
          Notify.create({
            type: 'positive',
            message: 'Added to queue',
            icon: 'done'
          });

          this.$router.push({ name: 'WaitInQueue', params: { id: courseId } });

        })
        .catch(err => {
          Notify.create({
            type: 'negative',
            message: 'Error occurred, could not add to queue',
            icon: 'error'
          });
        });
    },
    isTypeValid(val){
      return val!==''
    },
    isLocationValid(val) {
      return val && val.length > 0
    },
    isSelectedAssignmentValid(val) {
      return val && val >= 0
    }
  },



  computed: {
    /**
     * Validate form based on rules, false: submit disabled
     */
    isFormValid() {
      return this.isTypeValid(this.type) &&
        this.isLocationValid(this.location) &&
        this.isSelectedAssignmentValid(this.selectedAssignment)
    }

  },
  created() {
    /**
     * Load assignments number of the current course
     */
    let courseId = Number(this.$route.params.id);
    this.$store.getters.getApiClient
      .get("/courses/" + courseId)
      .then(res => {
        let assignmentOptions = [];
        for (let i = 1; i <= res.data.numOfAssignments; i++) {
          assignmentOptions.push(i);
        }
        this.assignmentOptions = assignmentOptions;
      })
      .catch(res => {
        Notify.create({
          message: "Could not load assignment options for course",
          type: "negative"
        });
      })

  }
};
</script>

<style scoped>

</style>
