<template>
  <q-card></q-card>
  <q-list bordered separator>
    <q-item v-for="a in assignments" :key="a">Assignment {{a}}</q-item>
  </q-list>

</template>

<script>
/**
 * This component is a list to display assignments.
 */
export default {
  name: "AssignmentList",
  props: {
    assignments: Array
  }
};
</script>

<style scoped>

</style>
