<template>
      <q-card @click="toCourse" class="my-card" style="width: 50vw">
        <q-card-section class="bg-secondary text-white">
          <div class="text-h6">{{ course.courseName }}</div>
          <div class="text-subtitle2">
            {{ course.courseCode + " - " +
          course.numOfRequiredAssignments + " of " + course.numOfAssignments +
          " assignments needed."}}</div>
        </q-card-section>

        <q-separator inset />

        <q-card-section>
          Queue is {{(course.isQueueOpen) ? "Open" : "Closed"}}
        </q-card-section>
      </q-card>
</template>

<script>
/**
 * This component represents a course card which holds all info of this course,
 * it being used in many components and pages.
 *
 */
export default {
  name: "CourseCard",
  methods:{
    /**
     * Redirect depends on user role
     * role: admin -> to edit the course (EditCourse)
     * role: user -> to enqueue (CourseQueue)
     *
     * if the user registered as user assistant -> ActiveQueue
     */
    toCourse(){
      let userRole = this.$store.getters.getRole;

      let route;
      if (userRole === "ADMIN") {
        route = {name: "EditCourse", params: {id: this.course.courseId}};
      }
      if (userRole === "USER") {
        route = {name: "CourseQueue", params: {id: this.course.courseId}};
      }
      if (this.$route.name === "AssistantPage") {
        route = {name: "ActiveQueue", params: {id: this.course.courseId}};
      }

      this.$router.push(route);
    }
  },

  props: {
    course: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>

.no_link_style {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
</style>
