<template>
  <q-card class="my-card q-ma-md">
    <q-card-section class="row">
      <div class="text-h6 text-positive" v-if="approvedAssignments.length >= numberOfRequiredAssignments">
        Status: Accepted
      </div>
      <div class="text-h6 text-negative" v-else>
        Status: Not Accepted
      </div>
      <q-separator vertical spaced="xl"></q-separator>
      <div class="text-h6">
        Assignments Required: {{numberOfRequiredAssignments}}/{{numberOfAssignments}}
      </div>
      <q-separator vertical spaced="xl"></q-separator>
      <q-btn rounded outline @click="onViewAssignments">Completed Assignments</q-btn>
    </q-card-section>
  </q-card>

  <q-dialog v-model="showCompletedAssignments">
    <q-card>
    <q-card-section class="row items-center q-pb-none">
      <div class="text-h6">Completed Assignments</div>
      <q-space />
      <q-btn icon="close" flat round dense v-close-popup />
    </q-card-section>
    <q-card-section>
      <AssignmentList :assignments="approvedAssignments"/>
    </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import AssignmentList from "components/AssignmentList";
import { Notify } from "quasar";

/**
 * This card component display status info of the course for the user,
 * such as the number of required assignments and which of them are approved,
 * and the original status (Accepted/Not Accepted)
 *
 * It being used in CoursePage.
 */
export default {
  name: "CourseStatusCard",
  components: { AssignmentList },
  data() {
    return {
      showCompletedAssignments: false,
      approvedAssignments: []
    }
  },
  methods: {
    onViewAssignments() {
      this.showCompletedAssignments = true;
    }
  },
  props: {
    numberOfAssignments: Number,
    numberOfRequiredAssignments: Number
  },
  created() {
    /*
     * Api call to fetch assignments when this component is created.
     * Done on this stage instead of as a prop to prevent errors and
     * only load assignments if necessary.
     */
    this.$store.getters.getApiClient.get("/users/"
      + this.$store.getters.getUserId
      + "/courses/" + Number(this.$route.params.id)+ "/assignments")
      .then(res => {
        let arr = res.data;
        for (let i = 0; i<arr.length; i++) {
          this.approvedAssignments.push(arr[i].assignmentNum)
        }
      })
      .catch(err => {
        Notify.create({
          message: "Could not load assignments",
          type: "negative"
        });
      });
  }
};
</script>

<style scoped>

</style>
