<template>
    <CourseCard class="q-ma-sm"
      v-for="course in courses" :key="course.id" :course="course" />

</template>

<script>
import CourseCard from '/src/components/CourseCard';

/**
 * This component is a list of CourseCard.
 */
export default {
  name: "CourseList",
  components: { CourseCard },
  data() {
    return {
    };
  },
  props: {
    courses: Array
  }
};
</script>

<style scoped>

</style>
