<template>
    <UserQueueEntryCard class="q-ma-sm"
      v-for="queueEntry in userQueueEntries" :key="queueEntry.userId" :userQueueEntry="queueEntry"
    />

</template>

<script>
import UserQueueEntryCard from "components/UserQueueEntryCard";

/**
 * This component is a list of UserCard.
 */
export default {
  name: "UserQueueEntryList",
  components: { UserQueueEntryCard },
  props: {
    userQueueEntries: Array,
  },
};
</script>

<style scoped>

</style>
