<template>
  <q-card class="my-card" style="width: 50vw" :class="{ gettingAssistance: userQueueEntry.isGettingAssistance }"
  >
    <q-card-section class="bg-secondary text-white">
      <div class="text-h6">USERID={{userQueueEntry.userId}}</div>
      <div class="text-subtitle2">
        Location: {{ userQueueEntry.location }}</div>
      <div class="text-subtitle2">
        Assignment: {{ userQueueEntry.assignmentNum }}</div>
    </q-card-section>

    <q-separator inset />

    <q-card-section>
      <q-btn
        @click="onPickUser"
        v-show="$route.name!=='PickedStudent'"
      >
        {{ (userQueueEntry.enqueueType===true) ? "Approve" : "Help" }}
      </q-btn>
    </q-card-section>
  </q-card>
</template>

<script>
/**
 * This component represents a student card which holds all info of the user.
 * The component is being used in many components and pages.
 *
 */
export default {
  name: "UserQueueEntryCard",
  methods:{
    /**
     * This method is only available for student assistants,
     * when a student assistant picks a student waiting in the queue (click on student card component),
     * redirect to PickedStudent page.
     */
    onPickUser(){
      if (this.$route.name !== "PickedStudent")
      this.$router.push(
        { name: "PickedStudent" ,
          params:
            {
              uid: this.userQueueEntry.userId,
              cid: Number(this.$route.params.id)
            }
        });

    }
  },
  computed: {
  },
  props: {
    userQueueEntry: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>

.gettingAssistance{
  background-color: #32CD32;
}
</style>
