<template>
  <q-card class="my-card" style="width: 50vw">
    <q-card-section class="bg-secondary text-white">
      <div class="text-subtitle2">
        Course {{userQueueEntry.courseId}} - Assignment {{ userQueueEntry.assignmentNum }}</div>

    </q-card-section>

    <q-separator inset />

    <q-card-section v-if="userQueueEntry.isGettingAssistance">
      Your turn! Now getting help.
    </q-card-section>
    <q-card-section v-else>
      Waiting in queue for {{ (userQueueEntry.enqueueType) ? "Approval" : "Help" }}
    </q-card-section>
  </q-card>
</template>

<script>
/**
 * This component card shows (waiting in queue) status for the student while waiting for his/her turn.
 */
export default {
  name: "WaitingInQueueCard",
  props: {
    userQueueEntry: {
      type: Object
    }
  },
}
</script>

<style scoped>

</style>
