<template>
    <WaitingInQueueCard class="q-ma-md"
      v-for="queueEntry in userQueueEntries" :key="queueEntry.courseId" :userQueueEntry="queueEntry"
    />
</template>

<script>
import WaitingInQueueCard from "/src/components/WaitingInQueueCard";
/**
 * This component is a list of WaitingInQueueCard.
 * This list is only student assistant can see.
 */
export default {
  name: "WaitingInQueueList",
  components: { WaitingInQueueCard },
  props: {
    userQueueEntries: Array
  }

};
</script>

<style scoped>

</style>
