<template>
  <q-page class="flex flex-center column">
    <div class="text-h4 q-ma-md text-weight-bold">Users in Queue</div>
    <UserQueueEntryList :userQueueEntries="userQueueEntries" />
  </q-page>
</template>

<script>
import UserQueueEntryList from '/src/components/UserQueueEntryList';
import { Notify } from "quasar";

/**
 * This component represents a UserList in an active queue,
 * only user assistant can see this list (Users in Queue)
 */
export default {
  name: "ActiveQueue",
  data() {
    return {
      userQueueEntries: null
    }
  },
  components: {
    UserQueueEntryList,
  },
  /**
   * Api call to fetch users waiting in course queue when this component is created.
   */
  created() {
    this.$store.getters.getApiClient
      .get("/courses/" + Number(this.$route.params.id) + "/queue/users")
      .then(res => {
        this.userQueueEntries = res.data;
      })
      .catch(err => {
        Notify.create({
          message: "Could not get users waiting in queue",
          type: "negative"
        });
      });
  }
};
</script>

<style scoped>

</style>
