<template>
  <q-page class="q-pa-md flex flex-center column">
    <div class="text-h4 q-ma-md text-weight-bold">Create Course</div>
    <q-form
      @submit="onSubmit"
      class="q-gutter-sm"
      style="min-width: 300px"
    >
      <q-input
        filled
        v-model="name"
        label="Course name *"
        :rules= "[val => isCourseNameValid(val) || 'Valid name is required']"
      />
      <q-input
        filled
        v-model="code"
        label="Course code *"
        lazy-rules
        :rules="[val => isCourseCodeValid(val) || 'Valid code is required']"
      />
      <q-input
        filled
        v-model.number="totalAssignments"
        type="number"
        label="Total exercises *"
        lazy-rules
        :rules="[val => isNumOfAssignmentsValid(val) || 'Enter valid number']"
      />
      <q-input
        filled
        v-model.number="requiredAssignments"
        type="number"
        label="Required exercises *"
        lazy-rules
        :rules="[val => isNumOfRequiredAssignmentsValid(val) || 'Enter valid number']"
      />
      <q-input
        v-model="users"
        filled
        type="textarea"
        label="Users *"
        hint="format per line: lastname, firstname, email"
        lazy-rules
        :rules="[val => isUsersValid(val) || 'Error']"
      />
      <q-input
        v-model="userAssistants"
        filled
        type="textarea"
        label="User Assistants *"
        hint="format per line: lastname, firstname, email"
        lazy-rules
        :rules="[val => isUsersValid(val) || 'Error']"
      />
      <q-btn
        label="Submit"
        type="submit"
        :disabled="!isFormValid"
      />
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import PasswordGenerator from "src/utils/PasswordGenerator";
import { Loading } from 'quasar';
import { Notify } from 'quasar';
/**
 * This page is only available for admins,
 * it is a from for adding a new course in database.
 */
export default defineComponent({
  name: "AddNewCourse",
  data() {
    return {
      name: '',
      code: '',
      totalAssignments: null,
      requiredAssignments: null,
      users: '',
      userAssistants: '',
      numOfAddedUsers: 0,
      numOfNotAddedUsers: 0,
      newCourseId: null
    }
  },
  methods: {
    async onSubmit() {
      Loading.show({
        message: "Saving Course and Users"
      })
      let saveSuccess = await this.saveCourse({
        courseName: this.name,
        courseCode: this.code,
        numOfAssignments: this.totalAssignments,
        numOfRequiredAssignments: this.requiredAssignments,
      });
      this.newCourseId = await this.getCourseIdOfCourseCode(this.code);

      if (saveSuccess) {
        Notify.create({
          type: 'positive',
          message: 'Course successfully created',
        });
      } else {
        Loading.hide();
        Notify.create({
          type: 'negative',
          message: 'Could not add course',
          icon: 'error'
        });
        return; // we do not add users if the course is not saved
      }
      let userObjects = this.getUserObjects(this.users);
      let userAssistantObjects = this.getUserObjects(this.userAssistants);

      await this.saveAllUsers(userObjects);
      await this.enrollAllUsers(userObjects);

      await this.saveAllUsers(userAssistantObjects);
      await this.registerAllUserAssistants(userAssistantObjects);

      Loading.hide();
      Notify.create({
        type: "info",
        message: this.numOfAddedUsers + " users created, "
          + this.numOfNotAddedUsers + " users already existed."
      });

      await this.$router.push({name: "AdminHome"});
    },
    // SAVE METHODS
    async saveCourse(course) {
      try {
        await this.$store.getters.getApiClient.post("/courses", course)
        return true;
      } catch (e) {
        return false;
      }
    },
    async saveUser(user) {
      try {
        await this.$store.getters.getApiClient.post("/users", user);
        return true;
      } catch (e) {
        return false;
      }
    },
    async saveAllUsers(userObjects) {
      for (let i = 0; i<userObjects.length; i++) {
        let saveUserSuccess = await this.saveUser(userObjects[i]);

        if (saveUserSuccess){
          this.numOfAddedUsers++;
        } else {
          this.numOfNotAddedUsers++;
        }
      }
    },
    async enrollUserForCourse(userId, courseId) {
      try {
        await this.$store.getters.getApiClient.post(
          "/users/" + userId + "/courses",
          { courseId: courseId }
        );
      } catch (e) {
      }
    },
    async enrollAllUsers(userObjects) {
      for (let i = 0; i<userObjects.length; i++) {
        let userId = await this.getUserIdOfUserEmail(userObjects[i].email);
        if (userId === null) continue;
        await this.enrollUserForCourse(userId, this.newCourseId);
      }
    },
    async registerUserAssistant(userId, courseId) {
      try {
        await this.$store.getters.getApiClient
          .post("/users/" + userId + "/assistant/courses", {courseId: courseId});
      } catch (e) {
      }
    },
    async registerAllUserAssistants(userObjects) {
      for (let i = 0; i<userObjects.length; i++) {
        let userId = await this.getUserIdOfUserEmail(userObjects[i].email);
        if (userId === null) continue;
        await this.registerUserAssistant(userId, this.newCourseId);
      }
    },
    // GETTERS
    async getUserIdOfUserEmail(email) {
      try {
        let res = await this.$store.getters.getApiClient
          .post("/users/metadata", {email: email});
        return res.data.userId;
      } catch (e) {
        return null;
      }
    },
    async getCourseIdOfCourseCode(courseCode) {
      try {
        let res = await this.$store.getters.getApiClient
          .post("courses/metadata", {courseCode: courseCode});
        return res.data.courseId;
      } catch (e) {
        return null;
      }
    },
    getUserObjects(users) {
      // format: lastname, firstname, email (newline)
      let passwordChars = "abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ!#*";
      let rows = users.split("\n");
      let userList = [];

      for (let i = 0; i<rows.length; i++) {
        let newUser = {};
        let parts = rows[i].split(", ");
        newUser.lastName = parts[0];
        newUser.firstName = parts[1];
        newUser.email = parts[2];
        newUser.role = "USER";
        newUser.password = PasswordGenerator.generatePassword(16, passwordChars);
        userList.push(newUser);
      }
      return userList;
    },
    // VALIDATION
    isCourseNameValid(val) {
      return this.requiredString(val)
    },
    isCourseCodeValid(val) {
      return this.requiredString(val)
    },
    isNumOfAssignmentsValid(val) {
      return this.requiredNumber(val)
    },
    isNumOfRequiredAssignmentsValid(val) {
      //required number can not be greater than total number
      return (this.requiredNumber(val) && val <= this.totalAssignments);
    },
    isUsersValid(val) {
      return true;
    },
    requiredString(val){
      return (val && val.length > 0)
    },
    requiredNumber(val){
      return (val && val >= 0)
    }
  },
  computed: {
    /**
     * Validate form based on rules, false: submit disabled
     */
    isFormValid() { // validate form based on rules, false: submit disabled
      return this.isCourseNameValid(this.name) &&
        this.isCourseCodeValid(this.code) &&
        this.isNumOfAssignmentsValid(this.totalAssignments) &&
        this.isNumOfRequiredAssignmentsValid(this.requiredAssignments)
        && this.isUsersValid(this.users)
        && this.isUsersValid(this.userAssistants);
    },
  }
});
</script>

<style scoped>

</style>
