<template>
    <q-page class="flex flex-center column">
      <div class="text-h4 q-ma-md text-weight-bold">Manage Courses</div>
      <CourseList :courses="courses" />

      <q-page-sticky position="bottom-right" :offset="[32, 32]">
        <q-btn
          fab icon="add"
          color="accent"
          label="New Course"
          @click="onNewCourse" />
      </q-page-sticky>
    </q-page>

</template>

<script>
import CourseList from '/src/components/CourseList';
import { Notify } from "quasar";

/**
 * This component represents the main page for admins,
 * it includes a list of ALL courses and Add new course button
 */
export default {
  name: "AdminHomePage",
  data() {
    return {
      courses: null
    }
  },
  components: { CourseList },
  methods: {
    onNewCourse() {
      this.$router.push({ name: "AddNewCourse" });
    },
  },
  created() {
    /*
    * Api call to fetch ALL courses
    */
    this.$store.getters.getApiClient
      .get("/courses")
      .then(res => {
        this.courses = res.data;
      })
      .catch(err => {
        Notify.create({
          message: "Could not get courses",
          type: "negative"
        });
      });
  }
};
</script>

<style scoped>

</style>
