<template>
  <q-page class="flex flex-center column">
    <div class="text-h4 q-ma-md text-weight-bold">Courses - User Assistant</div>
    <CourseList :courses="courses" />
  </q-page>
</template>

<script>
import { Loading, Notify } from "quasar";
import CourseList from '/src/components/CourseList';
/**
 * This component represents the main page for student assistants and it includes a list of courses.
 */
export default {
  name: "AssistantPage",
  components: { CourseList },
  data() {
    return {
      courses: null
    }
  },
  /**
   * Api call to fetch courses the user is registered as student assistant in.
   */
  created() {
    Loading.show();
    this.$store.getters.getApiClient
      .get("/users/" + this.$store.getters.getUserId + "/assistant/courses")
      .then(res => {
        this.courses = res.data;
      })
      .catch(err => {
        Notify.create({
          message: "Could not get courses",
          type: "negative"
        });
      });
    Loading.hide();
  },
};
</script>

<style scoped>

</style>
