<template>
  <div class="q-pa-md" style="max-width: 400px">
    <q-form
      @submit="handleSubmit"
      class="q-gutter-md"
    >
      <q-btn-toggle
        v-model="type"
        toggle-color="primary"
        :options="[
        {label: 'Approval', value: true},
        {label: 'Help', value: false}
        ]"
        :rules="[val => isTypeValid(val)  || 'Choose Approval or Help']"
      />
      <q-select
        outlined
        v-model="selectedAssignment"
        :options="assignmentOptions"
        label="Select assignment *"
        :rules="[val => isSelectedAssignmentValid(val) || 'Choose assignment number']"
      />
      <q-input
        filled
        v-model="location"
        label="Location"
        :rules="[val => isLocationValid(val) || 'Enter your location']"
      />
      <q-btn
        label="Add to queue"
        type="submit"
        :disabled="!isFormValid"
      />
    </q-form>
  </div>

</template>

<script>
import { Notify } from 'quasar';

export default {
  name: "CourseQueue",

  data() {
    return {
      type: '',
      selectedAssignment: 0,
      assignmentOptions: [1,2],
      location: '',
    }
  },

  methods: {
    async handleSubmit() {
      let courseId = Number(this.$route.params.id);
      const toQueueRequest = {
        userId: this.$store.getters.getUserId,
        courseId: courseId,
        enqueueType: this.type,
        assignmentNum: this.selectedAssignment,
        location: this.location,
        isGettingAssistance: false
      };
      this.$store.getters.getApiClient
        .post("/courses/" + courseId + "/queue/users", toQueueRequest)
        .then(res => {
          Notify.create({
            type: 'positive',
            message: 'Added to queue',
            icon: 'done'
          });

          this.$router.push({ name: 'WaitInQueue', params: { id: courseId } });

        })
        .catch(err => {
          Notify.create({
            type: 'negative',
            message: 'Error occurred, could not add to queue',
            icon: 'error'
          });
        });
    },
    isTypeValid(val){
      return val!==''
    },
    isLocationValid(val) {
      return val && val.length > 0
    },
    isSelectedAssignmentValid(val) {
      return val && val >= 0
    },

  },
  computed: {
    /**
     * Validate form based on rules, false: submit disabled
     */
    isFormValid() {
      return this.isTypeValid(this.type) &&
        this.isLocationValid(this.location) &&
        this.isSelectedAssignmentValid(this.selectedAssignment)
    },
  },

  created() {
    /**
     * Load assignments number of the current course
     * @type {number}
     */
    let courseId = Number(this.$route.params.id);
    this.$store.getters.getApiClient
      .get("/courses/" + courseId)
      .then(res => {
        let assignmentOptions = [];
        for (let i = 1; i <= res.data.numOfAssignments; i++) {
          assignmentOptions.push(i);
        }
        this.assignmentOptions = assignmentOptions;
      })
      .catch(res => {
        Notify.create({
          message: "Could not load assignment options for course",
          type: "negative"
        })
      });

  }
};
</script>

<style scoped>

</style>
