<template>
  <q-page class="q-ma-md flex flex-center column vertical-top">
    <div class="text-h4 q-ma-md text-weight-bold">{{course.courseName}}</div>
    <CourseStatusCard
      :numberOfAssignments="course.numOfAssignments"
      :numberOfRequiredAssignments="course.numOfRequiredAssignments"
    />
    <AddToQueueCard/>
  </q-page>
</template>

<script>
import AddToQueueCard from "components/AddToQueueCard";
import CourseStatusCard from "components/CourseStatusCard";
import { Notify } from "quasar";
export default {
  name: "AddToQueuePage",
  components: { CourseStatusCard, AddToQueueCard },
  data() {
    return {
      course: {},
    }
  },
  created() {
    let courseId = Number(this.$route.params.id);
    this.$store.getters.getApiClient
      .get("/courses/" + courseId)
      .then(res => {
        this.course = res.data;
      })
      .catch(err => {
        Notify.create({
          message: "Error when getting course from API",
          type: "negative"
        });
      })
  }
};
</script>

<style scoped>

</style>
