<template>
  <q-page class="q-pa-md flex flex-center column">
    <div class="text-h4 q-ma-md text-weight-bold">Edit Course</div>
    <q-form
      @submit="handleSubmit"
      class="edit-course-form q-gutter-md"
    >
      <q-input
        filled
        v-model="course.courseName"
        label="Course name"
        lazy-rules
        :rules="[val => isCourseNameValid(val) || 'Enter valid name']"
      />
      <q-input
        filled
        v-model="course.courseCode"
        label="Course code"
        lazy-rules
        :rules="[val => isCourseCodeValid(val) || 'Enter valid code']"
      />
      <q-input
        filled
        v-model.number="course.numOfAssignments"
        type="number"
        label="Total assignments"
        lazy-rules
        :rules="[val => isNumOfAssignmentsValid(val) || 'Choose valid number']"
      />
      <q-input
        filled
        v-model.number="course.numOfRequiredAssignments"
        type="number"
        label="Required assignments"
        lazy-rules
        :rules="[val => isNumOfRequiredAssignmentsValid(val) || 'Choose valid number']"
      />
      <q-btn
        label="Save Changes"
        type="submit"
        :disabled="!isFormValid"
      />
      <q-btn
        color="negative"
        label="Delete Course"
        @click="confirm = true"
      />
    </q-form>

    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Are you sure?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn outline rounded label="Delete" color="primary" v-close-popup @click="onDeleteCourse" />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </q-page>

</template>

<script>
import { Notify } from 'quasar';

export default {
  name: "EditCourse",
  data() {
    return {
      // course cannot be null when loading page, it will result in crash!,
      // it can be null when use api get call
      course: {},
      confirm: false,
    }
  },
  methods: {
    handleSubmit() {
      let courseId = Number(this.$route.params.id);
      this.$store.getters.getApiClient
        .put("/courses/" + courseId, this.course)
        .then(res => {
          Notify.create({
            type: "positive",
            message: "Successfully saved changes!"
          });
          this.$router.push({name: "AdminHome"});

        })
        .catch(err => {
          Notify.create({
            type: "negative",
            message: "Could not save changes"
          });
        })
    },
    onDeleteCourse() {
      let courseId = Number(this.$route.params.id);
      this.$store.getters.getApiClient
        .delete("/courses/" + courseId)
        .then(res => {
          Notify.create({
            type: "positive",
            message: "Course successfully deleted"
          });
          this.$router.push({name: "AdminHome"});
        })
        .catch(err => {
          Notify.create({
            type: "negative",
            message: "Could not delete course"
          });
        });
    },
    isCourseNameValid(val) {
      return this.requiredString(val)
    },
    isCourseCodeValid(val) {
      return this.requiredString(val)
    },
    isNumOfAssignmentsValid(val) {
      return this.requiredNumber(val)
    },
    isNumOfRequiredAssignmentsValid(val) {
      //required number can not be greater than total number
      return (this.requiredNumber(val) && val <= this.course.numOfAssignments);
    },
    requiredString(val){
      return (val && val.length > 0)
    },
    requiredNumber(val){
      return (val && val >= 0)
    }
  },

  async created() {
    let courseId = Number(this.$route.params.id);
    this.$store.getters.getApiClient
      .get("/courses/" + courseId)
      .then(res => {
        this.course = res.data;
      })
      .catch(err => {
        Notify.create({
          message: "Error when getting course from API",
          type: "negative"
        });
      })
  },
  computed: {
    /**
     * Validate form based on rules, false: submit disabled
     */
    isFormValid() { // validate form based on rules, false: submit disabled
      return this.isCourseNameValid(this.course.courseName) &&
        this.isCourseCodeValid(this.course.courseCode) &&
        this.isNumOfAssignmentsValid(this.course.numOfAssignments) &&
        this.isNumOfRequiredAssignmentsValid(this.course.numOfRequiredAssignments);
    },
  }
};
</script>

<style scoped>
.edit-course-form {
  width: 350px;
}

</style>
