<template>
  <div class="q-pa-md" style="max-width: 400px">
    <q-form
      @submit="onSubmit"
      class="q-gutter-md absolute-center"
    >
      <q-input
        ref="input-email"
        filled
        v-model="email"
        label="email *"
        type="email"
        lazy-rules
        :rules= "[val => isValidEmail(val) || 'Enter valid email address']"
      />
      <q-input
        ref="input-password"
        filled
        v-model="password"
        label="password *"
        type="password"
        lazy-rules
        :rules= "[val => isPasswordValid(val) || 'Password must be provided']"
      />
      <q-btn
        ref="submit-button"
        label="Sign in"
        type="submit"
        :disabled="!isFormValid"
      />
    </q-form>
  </div>
</template>

<script>
import LoginService from "src/service/LoginService";
import { Loading } from 'quasar';
import { Notify } from 'quasar';

/**
 * Login page
 */
export default {
  name: "LoginPage",
  data() {
    return {
      email: '',
      password: '',
    }
  },

  methods: {
    // submit method
    async onSubmit(values) {
      Loading.show(
        {
          message:"Logging in..."
        }
      );

      // do the log in and check the auth
      let loginResponse = await this.attemptSignIn
      ({username: this.email, password: this.password});

      // auth true? save token to store
      if (loginResponse !== false) {
        let token = loginResponse.headers.authorization;
        await this.$store.dispatch('saveToken', token);
        await this.$store.dispatch('authenticate');
      } else {
        Loading.hide();
        Notify.create({
          type: 'negative',
          message: 'Wrong email and password...',
          icon: 'error'
        });
        return;
      }

      // fetch user data from the database and save to store
      let userData = await this.getUserData({email: this.email});

      if (userData !== false) {

        await this.$store.dispatch('setFirstName', userData.data.firstName);
        await this.$store.dispatch('setLastName', userData.data.lastName);
        await this.$store.dispatch('saveRole', userData.data.role);
        await this.$store.dispatch('saveUserId', userData.data.userId);

      } else {
        Loading.hide();
        Notify.create({
          type: 'negative',
          message: 'Could not get metadata for user',
          icon: 'error'
        });
        return;
      }

      Loading.hide();
      Notify.create({
        type: 'positive',
        message: 'Successfully logged in'
      });
      await this.$router.push({name: "UserHome"});

      this.routeBasedOnRole();

    },

    // wrapper method for attemptLogin
    async attemptSignIn(loginRequest) {
      try {
        let response = await LoginService.attemptLogin(loginRequest);
        return response;

      } catch (e) {
        return false;
      }
    },
    // helper method to fetch user data from the database
    async getUserData(emailRequest) {
      try {
        let response = this.$store.getters.getApiClient
        .post("/users/metadata", emailRequest);

        return response;
      } catch (e) {
        return false;
      }
    },
    // redirect to the right home page based on user role
    routeBasedOnRole() {
      let userRole = this.$store.getters.getRole;
      this.$router.push({name: ((userRole === 'ADMIN') ? "AdminHome" : "UserHome")});
    },
    // validation
    isValidEmail(val){
      let regex = new RegExp('[a-z0-9]+@[a-z]+\.[a-z]{2,3}');
      return regex.test(val)
    },
    isPasswordValid(val){
      return val && val.length > 0
    }
  },

  computed: {
    /**
     * Validate entire form based on rules, false: submit disabled
     */
    isFormValid() {
      return this.isValidEmail(this.email) &&
        this.isPasswordValid(this.password)
    },

  }
};
</script>
