<template>
  <div className="column q-gutter-md absolute-center">
    <div className="text-h6  flex flex-center">
      You are helping:
      {{studentGettingHelp.firstName + " " + studentGettingHelp.lastName
      + "(" + studentGettingHelp.email + ")"}}
    </div>
    <UserQueueEntryCard :userQueueEntry="queueEntry"/>
    <q-btn @click="onApprove" color="primary" label="Approve" />
    <q-btn @click="onFinish" color="primary" label="Finish" />

  </div>
</template>

<script>
import UserQueueEntryCard from "components/UserQueueEntryCard";
import { Notify } from 'quasar';

export default {
  name: "PickedStudent",
  components: {
    UserQueueEntryCard,
  },
  data(){
    return{
      //this student will be retrieved when this component created, instead of hard coded
      queueEntry: null,
      studentGettingHelp: {}

    }
  },
  created() {
    let pickedUserId = Number(this.$route.params.uid);
    let pickedCourseId = Number(this.$route.params.cid);

    // Set queue data for the picked student to isGettingHelp=true
    this.$store.getters.getApiClient
      .put("/courses/" + pickedCourseId + "/queue/users/" + pickedUserId,
        {isGettingAssistance: true})
      .then(res => {
        Notify.create({
          type: "positive",
          message: "User is now getting help"
        });
      })
      .catch(err => {
        Notify.create({
          type: "negative",
          message: "Could not set user state to isGettingAssistance=true"
        });
      });

    // Get queue data for the picked user
    this.$store.getters.getApiClient
      .get("/courses/" + pickedCourseId + "/queue/users/" + pickedUserId)
      .then(res => {
        this.queueEntry=res.data;
      })
      .catch(err => {
        Notify.create({
          message: "Could not get queue data for user",
          type: "negative"
        });
      });

    this.$store.getters.getApiClient.get("/users/" + pickedUserId).
    then(res =>{this.studentGettingHelp = res.data})


  },
  methods: {
    onApprove(){
      let pickedUserId = Number(this.$route.params.uid);
      let pickedCourseId = Number(this.$route.params.cid);

      this.$store.getters.getApiClient.
        post("/users/" + pickedUserId + "/courses/" + pickedCourseId + "/assignments",
        {assignmentNum: this.queueEntry.assignmentNum})
        .then((res) => {
          Notify.create({
            type: 'positive',
            message: 'Successfully approved!'
          });
        })
        .catch((err) => {
          Notify.create({
            type: 'negative',
            message: 'Could not approve...'
          });
        })
    },
    onFinish(){
      let pickedUserId = Number(this.$route.params.uid);
      let pickedCourseId = Number(this.$route.params.cid);
      this.$store.getters.getApiClient
        .delete("/courses/" + pickedCourseId + "/queue/users/" + pickedUserId)
        .then((res) => {
          Notify.create({
            type: 'positive',
            message: 'Successfully removed user from queue!'
          });

          this.$router.push(
            {
              name: "ActiveQueue",
              params: {id: Number(this.$route.params.cid)}
            })
        })
        .catch((err) => {
          Notify.create({
            type: 'negative',
            message: 'Could not remove user from queue...'
          });
        })
    }

  }

};
</script>

<style scoped>

</style>
