<template>
  <q-page class="flex flex-center column">
    <div class="text-h4 q-ma-md text-weight-bold">My Courses</div>
    <CourseList :courses="courses" />
  </q-page>
</template>

<script>
import CourseList from '/src/components/CourseList';
import { Loading, Notify } from "quasar";

/**
 * UserHome page, is main page for users.
 */
export default {
  name: "UserHome",
  data() {
    return {
      courses: null
    }
  },
  components: {
    CourseList,
  },

  created() {
    Loading.show();
    this.$store.getters.getApiClient
      .get("/users/" + this.$store.getters.getUserId + "/courses")
      .then(res => {
      this.courses = res.data;
      })
      .catch(err => {
        Notify.create({
          message: "Could not get courses for user",
          type: "negative"
        });
      });
    Loading.hide();
  }
};
</script>

<style scoped>

</style>
