<template>
  <q-page class="flex flex-center column">
    <div class="text-h4 q-ma-md text-weight-bold">Waiting in Queue</div>
    <WaitingInQueueList :userQueueEntries="userQueueEntries" />
  </q-page>
</template>

<script>
import {Notify} from "quasar";
import { Loading } from 'quasar';
import WaitingInQueueList from "components/WaitingInQueueList";

export default {
  name: "WaitInQueue",
  data() {
    return {
      userQueueEntries: []
    }
  },
  components: {
    WaitingInQueueList,
  },
  created() {
    this.$store.getters.getApiClient
      .get("/users/"+this.$store.getters.getUserId+"/queue/courses")
      .then(res=>{
        this.userQueueEntries = res.data;
      })
      .catch(err => {
        Loading.hide();
        Notify.create({
          type: 'negative',
          message: 'Error occurred, could not add to queue',
          icon: 'error'
        });
      });

  },

};
</script>

<style scoped>

</style>
