<template>
  <q-layout view="hHh lpR fFf">

    <q-header bordered class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title class="text-weight-bold">
          QS3 | {{this.$store.getters.getFirstName}} {{ this.$store.getters.getLastName}}
        </q-toolbar-title>
        <q-btn
          flat
          label="Manage Courses"
          icon="groups"
          @click="onHome"
          ref="courses"
          v-if="this.$store.getters.getRole === 'ADMIN'
          && this.$store.getters.getIsAuthenticated"
        />
        <q-btn
          flat
          label="My Courses"
          icon="groups"
          @click="onHome"
          ref="courses"
          v-if="this.$store.getters.getRole !== 'ADMIN'
          && this.$store.getters.getIsAuthenticated"
        />
        <q-btn
          flat
          label="In Queue"
          icon="pending"
          @click="onInQueue"
          ref="in-queue"
          v-if="
          this.$store.getters.getRole !== 'ADMIN'
          && this.$store.getters.getIsAuthenticated"
        />
        <q-btn
          flat
          label="Assistant Page"
          icon="school"
          @click="onAssistant"
          ref="assistant-page"
          v-if="this.$store.getters.getRole !== 'ADMIN'
          && this.$store.getters.getIsAuthenticated"
        />
        <q-btn
          outline
          rounded
          class="q-ml-md"
          @click="onAuth">{{ authStatus }}
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue';
import { Notify } from 'quasar';

export default defineComponent({
  name: 'MainLayout',
  methods: {
    onHome() {
      if (this.$store.getters.getIsAuthenticated) {
        let role = this.$store.getters.getRole;
        if (role === "ADMIN") {
          this.$router.push({ name: "AdminHome" });
        } else {
          this.$router.push({ name: 'UserHome' });
        }
      } else {
        Notify.create({
          type:"info",
          message: "Please sign in to use this feature"
        });
      }
    },

    onAuth() {
      if (this.$store.getters.getIsAuthenticated) {
        this.$store.dispatch('setFirstName', '');
        this.$store.dispatch('setLastName', '');
        this.$store.dispatch('saveToken', null);
        this.$store.dispatch('saveRole', '');
        this.$store.dispatch('saveUserId', null);
        this.$store.dispatch('authenticateFalse');

        Notify.create({
          type:"positive",
          message: "Successfully logged out"
        });
      }
      this.$router.push({name: 'Login'});
    },

    onInQueue() {
      if (this.$store.getters.getIsAuthenticated) {
        this.$router.push({name: "WaitInQueue"});
      } else {
        Notify.create({
          type:"info",
          message: "Please sign in to use this feature"
        });
      }
    },

    onAssistant() {
      if (this.$store.getters.getIsAuthenticated) {
        this.$router.push({name: "AssistantPage" });
      } else {
        Notify.create({
          type:"info",
          message: "Please sign in to use this feature"
        });
      }
    }
  },

  computed: {
    authStatus() {
      if(this.$store.getters.getIsAuthenticated) {
        return "Sign out";
      } else {
        return "Sign in";
      }
    },

  }
})
</script>
